* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'jost', sans-serif;
}

html {
    font-size: 62.5%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-heading {
    font-size: 3.5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    border-bottom: 3px solid #333;
    margin-bottom: 15rem;
    text-shadow: 0.2rem 0.2rem 0.5rem #555;
}


/* section1 */

.section-1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3)), url(imgs/bg.jpg) center no-repeat;
    background-size: cover;
    /* display: flex; */
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}

.section-1-heading {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    background-color: #e41;
    padding: 0 3rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    border-bottom: .3rem solid #fff;
    text-shadow: .2em .2rem 1rem #555;
    transform: skew(-10deg);
}

.person-img {
    width: 25rem;
    height: 33rem;
    object-fit: cover;
    border-radius: 50%;
    border: 0.7rem dotted #e41c6f;
    padding: 0.5rem;
    opacity: 0.9;
}

.person-name {
    font-size: 2rem;
    background: #e41;
    color: #fff;
    margin: 3rem 0;
    padding: 0.5rem 3rem;
    letter-spacing: 0.3rem;
    transform: skew(-10deg);
}

.section-1-btn {
    font-size: 1.7rem;
    font-weight: 700;
    color: #333;
    background-color: #fff;
    border: 0.3rem solid #333;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}


/* navbar */

.navbar {
    width: 100%;
    height: 4rem;
    background-color: #e41c6f;
    box-shadow: 0.2rem 0.2rem 0.5rem #555;
}

.navbar-link {
    font-size: 1.7rem;
    font-weight: 600;
    color: #333;
    margin: 0 4rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    position: relative;
    transition: color 0.2s;
}

.navbar-link::before {
    content: "";
    width: 0;
    height: 0.2rem;
    background-color: #fff;
    position: absolute;
    right: -15%;
    bottom: -0.3rem;
    transition: width 0.1s;
}

.navbar-link:hover::before {
    width: 130%;
}

.navbar-link:hover {
    color: #fff;
    /* border-bottom: 2px solid #fff; */
}

.section-2 {
    flex-direction: column;
    padding: 15rem 0 10rem 0
}

.progress-bars-wrapper {
    padding-bottom: 10rem;
}

.progress-bar {
    width: 60rem;
    height: 3rem;
    background-color: #ccc;
    margin: 1.5rem 0;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 1rem #555;
    position: relative;
}

.progress-text {
    position: absolute;
    left: 1rem;
    font-size: 1.5rem;
    color: #fff;
}

.progress-text span {
    margin: 0 0.5rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.progress-percent {
    width: 90%;
    height: 100%;
    background-color: #e41c6f;
    border-radius: 0.3rem;
}

.services {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service {
    text-align: center;
}

.service:first-child,
.service:last-child {
    align-self: flex-start;
}

.service i {
    font-size: 10rem;
    margin-bottom: 2rem;
    text-shadow: .1rem .1rem 0.5rem #555;
    color: #555;
}

.service h2 {
    font-size: 2rem;
    color: #fff;
    background-color: #777;
    width: 25rem;
    letter-spacing: 0.3rem;
    transform: skew(-10deg);
    box-shadow: 0.2rem 0.2rem 0.5rem #555;
}


/* section 3 */

.section-3 {
    width: 100%;
    height: 100%;
    padding: 10rem 0;
    background-color: #eef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-wrapper {
    width: 90%;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #fff;
    box-shadow: .3rem .3rem .5rem #777;
    position: relative;
    overflow: hidden;
    transition: box-shadow .5s;
}

.project:hover {
    box-shadow: 1rem 1rem 1rem #777;
}

.project-text {
    text-align: center;
    letter-spacing: 0.1rem;
    position: absolute;
    top: -10rem;
    transition: top 0.3s;
    z-index: 10;
}

.project:hover .project-text {
    top: 5rem;
    transition: top .3s .3s;
}

.project-name {
    font-size: 3rem;
    font-weight: 700;
    color: #333;
    text-transform: capitalize;
}

.project-technologies {
    font-size: 1.8rem;
    color: #e41c6f;
}

.project-img {
    width: 40rem;
    transition: opacity 0.3s;
}

.project:hover .project-img {
    opacity: 0.2;
}

.project-link {
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    letter-spacing: 0.1rem;
    border: 0.3rem solid #e41c6f;
    padding: 0.1rem;
    background-color: #fff;
    position: absolute;
    bottom: -5rem;
    transition: bottom 0.3s;
}

.project:hover .project-link {
    bottom: 5rem;
    transition: bottom 0.3s 0.3s;
}


/* End of section 3 */


/* section 4 */

.section-4 {
    width: 100%;
    height: 70vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-4-heading {
    color: #fff;
    box-shadow: none;
    border-color: #fff;
}

.contact-form {
    width: 50rem;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: #eef;
    font-size: 1.5rem;
    border: .2rem solid #e41c6f;
    color: #555;
}

.contact-form textarea {
    height: 10rem;
    max-height: 15rem;
    max-width: 100%;
}

.contact-form .contact-form-btn {
    background-color: #e41c6f;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1rem;
    cursor: pointer;
}


/* end of section 4 */


/* /* section-5 * */

.section-5 {
    width: 100%;
    height: 30vh;
    background-color: #222;
    flex-direction: column;
}

.social-media {
    margin-bottom: 5rem;
}

.social-media-link {
    margin: 0.2rem;
    padding: .7rem;
    background-color: #e41c6f;
    border-radius: 0.5rem;
    display: inline-block;
}

.social-media-link {
    font-size: 3rem;
    color: #fff;
}

.copyright {
    color: #aaa;
    font-size: 2rem;
    letter-spacing: .2rem;
    font-weight: 300;
    text-align: center;
}


/* End of section-5 */